save-exact=false                                           # pin versions without ^ or ~
save-prefix=^                                              # prefix for dependencies (default: ^)
engine-strict=true                                         # fail install if Node/NPM versions mismatch

audit=false                                                # skip vulnerability audit in dev
fund=false                                                 # suppress “fund this package” output
loglevel=silly                                             # less noisy CLI
progress=true                                              # show download progress bar
