# Always save modules as dependencies, not devDependencies
save=true

# Specify the location of the global node_modules folder
global-style=true

# Specify a default version tag for package installs
tag=latest